body {       
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:gray;
    height:100%;
    background-image: url('ToDo3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
  
}

.container {
    width: 360px;
    
}

#inputField {
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 25px;
    border-radius: 25px;
    width: 250px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
}

#addToDo {
    outline: none;
    border: none;
    height: 42px;
    border-radius: 25px;
    width: 40px;
    background-color:white;
    color: greenyellow;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
    font-size: 25px;
    vertical-align: middle;
}

.remove{
    background: none;
	outline: none;
	border: none;
	color:rgb(219, 202, 202);
	font-size: 1.4rem;
	font-family: 'Hind', sans-serif;
	cursor: pointer;
}

.item{
    padding: 0.5rem;
	border-bottom: 4px solid #fff;
	margin-bottom: 1.5rem;
}


.edit{
    background: none;
	outline: none;
	border: none;
	color:rgb(10, 10, 10);
	font-size: 1.4rem;
	font-family: 'Hind', sans-serif;
	cursor: pointer;
}


.paragraph-styling {
    background: none;
    font-size: 25px;
	outline: none;
	border: none;
	width: 240px;
}

.to-dos {
    margin-top: 25px;
}